.contain{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-left:5% ;
}
.image{
    width: 50%;
    /* margin: auto 4%; */
    position: relative;
    right: -5%;
}
.words{
    width: 45%;
    margin-right: 5%;
    margin: auto;
}
.image img {
    width: 100%;
}
body{
    margin: 0;
}
h1,p {
    color: white;
}
h1.not{
    font-size: 30px;
}

@media(max-width:700px) {
    .contain {
        flex-direction: column-reverse;

    }
    .image,.words{
        width: 100%;
    }
    .image {
        right: 5%;
    }
}
p{
    text-align: left;
}
:root {
    --blue:radial-gradient(rgba(24,62,119,0.497),rgba(32,103,209,0.7));
  } 
  body {
    background-image: var(--blue);
    background-color:rgba(0,0,0.7);
    /* margin: 0; */
  }